{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
{{msg}}
{% endfor %}
{% endif %}
{% endwith %}
<h6>Economies:</h6>
<p>You are viewing a list of <span id="count_countries">{{ econ_data.length }}</span> economies. Please use the filters
    and select any one or multiple.
<p></p>
</p>
<div class="rowd d-flex">
    <div class="col-md-8 series">
        <input type="text" class="form-control eco" id="searchBar_economies" placeholder="Search...">
        <input type="checkbox" class="form-check-input" id="select_all">
        <label for="select_all"> Select All</label>
        <form action="" class="series select_series" method="post">
            <ul style="max-height:380px; width:100%; padding-left: 10px; padding-top: 10px; overflow-y:auto;">
                {% for each in econ_data.econ_data %}
                <li>
                    <input id="{{each['name']}}" data-region="{{each['region']}}" data-income="{{each['incLevel']}}"
                        class="form-check-input" type="checkbox" name="selected_economies" value="{{ each['id'] }}"
                        {% if selected_economies and each['id'] in selected_economies %} checked {% endif %}>
                    <label for="{{each['name']}}">
                        <p><strong>{{each['name']}}</strong><a style="padding-left: 5px;"
                                href="{{ url_for('meta_data', type='economy', id=each['id'])+'@@@'+each['name'] }}">meta
                                data</a></p>
                    </label>
                </li>
                {% endfor %}
            </ul>

    </div>

    <div class="col-md-2 ms-4">
        <div>
            <h6>Filter by region</h6>
            <ul class="filter_region"
                style="height:220px; width:100%; padding-left: 10px; padding-top: 10px; overflow-y:auto;">
                {% for each in econ_data.regions %}
                <li>
                    <input id="{{each}}" class="form-check-input" type="checkbox" value="{{ each }}">
                    <label for="{{each}}">
                        <p><strong>{{each}}</strong></p>
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h6>Filter by income level</h6>
            <ul class="filter_inc_level"
                style="height:180px; width:100%; padding-left: 10px; padding-top: 10px; overflow-y:auto;">

                {% for each in econ_data.income_levels %}
                <li>
                    <input id="{{each}}" class="form-check-input" type="checkbox" value="{{ each }}">
                    <label for="{{each}}">
                        <p><strong>{{each}}</strong></p>
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
<div class="display_selected">
    <a href="#" id="show_hide_economies" onclick="showselection_economies();">Show chosen economies(s)</a>
    <div id="display_chosen_economies" hidden="">
        <div class="rowd d-flex">
            <p class="col-sm-2.5">Economies selected:</p>
            <ul class="col-sm-9.5 ms-3">
            </ul>
        </div>
    </div>
</div>

<p>
<a href="#" id="show_hide_series" onclick="showselection_series();">Show chosen series(s)</a>
<ul id="display_chosen" hidden="">
    {% for each in econ_data.series %}
    <li>{{ each }}</li>
    {% endfor %}
</ul>
</p>
<div class="row d-flex align-items-center" style="padding-top: 10px;">
    <div class="col-sm-3">
        <h6>Timeseries:</h6>
    </div>

    <div>
        <label for="start">From</label>
        <select name="start_year" id="start">
            {% for n in range(1960,2024) %}
            <option value="{{ n }}">{{ n }}</option>
            {% endfor %}
        </select>

        <label for="end">to</label>
        <select name="end_year" id="end">
            {% for n in range(2023,1960,-1) %}
            <option value="{{ n }}">{{ n }}</option>
            {% endfor %}
        </select>

        <label for="period">in increments of</label>
        <select name="period" id="period">
            {% for n in range(1,11) %}
            <option value="{{ n }}">{{ n }}</option>
            {% endfor %}
        </select>
        years.
    </div>
</div>
<p></p>

<div class="rowd d-flex align-items-center">
    <button type="submit" class="col-sm-1 btn btn-success" onclick="$('form').submit();">Extract</button>
    <!-- <button type="submit" class="col-sm-1 btn btn-info ms-3" name="meta_data">View Meta Data</button> -->
    {% if error %}
    <h6 class="col-sm-5 ms-3" style="color: red;">{{error}}</h6>
    {% endif %}
</div>
</form>

{% endblock %}