<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <script src="" async defer></script>
        <h1>Welcome!</h1>

        <form action="{{ url_for('index')}}", method="post">
            <div class="mb-3">
                <label for="search_term" class="form-label">Search Term</label>
                <input type="text" class="form-control" id="search_term" name="search_term">
              </div>
              <button type="submit" class="btn btn-primary">Submit here!</button>
        </form>

        {% for each in rows %}
        <h2>{{ each['name']}}</h2>
        {% endfor%}
    </body>
</html>