{% extends 'base.html' %}

{% block content %}

<form class="search_db" method="post">
    <h3>Search Topics</h3>
    <p>Please enter the keyword by which you would like to search. Leave it blank to select from all available databases.</p>
    <p></p>
    <div class="form-group row">
        <label for="search_term" class="col-sm-2 col-form-label"><p>Search Term:</p></label>
        <div class="col-sm-10">
            <input id="search_term" type="text" class="form-control" placeholder="eg: gender, development, climate" name="search_term">
            <small id="search_term_help" class="form-text text-muted">
            Please note: If the entered word does not match any dataset, all available topics will be returned!
            </small>
        </div>
        </div>
        <div class="row">
            <button type="submit" class="col-sm-1 btn btn-success search_db" onclick="sessionStorage.setItem('search_db', 'done');">Search</button>
        </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", (function () {
        if (sessionStorage.getItem('search_db') == 'done') {
            $('.search_db #search_term').prop('placeholder',"{{ session['q']}}");
            $('.search_db #search_term').prop('disabled',true);
            $('.search_db button').hide();
        }
    })
);
</script>

{% block select_db %}
{% endblock %}

{% endblock %}