{% extends 'search_db.html' %}

{% block select_db %}

<h3>Choose Topic</h3>

{% if session['q'] == "" %}
<p>You are viewing {{ passed.length }} available topics. Please select any one.</p>
{% elif session['q'] == "invalid" %}
<p>The term did not match any topic. You are viewing {{ passed.length }} available topics! Please select any one.</p>
{% else %}
<p>You are viewing {{ passed.length }} topic(s) that contain the word '{{ session['q'] }}'. Please select any one.</p>
{% endif %}

<form class="select_db" method="post">
    <ul style="max-height:300px; width:100%; padding-left: 10px; padding-top: 10px; overflow-y:auto;">
        {% for each in passed.data %}
        <li>
            <input id="{{each['name']}}" type="radio" name="selected_db" value="{{ each['id'] }}|{{ each['name'] }}">
            <label for="{{each['name']}}">
                <p><strong>{{each['name']}}</strong></p>
            </label>
        </li>
        {% endfor %}
    </ul>
    <div class="rowd d-flex align-items-center">
        <button type="submit" class="col-sm-1 btn btn-success">Choose Series</button>
        {% if error %}
        <h6 class="col-sm-1 ms-3" style="color: red;">{{error}}</h6>
    {% endif %}
    </div>
</form>

{% endblock %}