{% extends 'base.html' %}
{% block content %}

{% if error %}
<div class="alert alert-warning error_note" style="display: flex; align-items: center; color: red;">
    {{error}}
    <a href="#" style="margin-left: 10px; color: blue;" onclick="$('.error_note').remove();">close</a>
  </div>
{% endif %}

    <div>
        This application works by making calls (based on user's inputs) to world bank API using a python library named <a class="links_desc" href="https://blogs.worldbank.org/en/opendata/introducing-wbgapi-new-python-package-accessing-world-bank-data" target="#">WBGAPI</a>. Please select the desired fields on each page <a class="links_desc" href="https://data.worldbank.org/indicator" target="#">(Indicator > Series > Economy and Time period)</a> until you reach the visualizations. Thank you!
    </div>

    <p></p>

<form class="select_db select_series" method="post">
    

    <div class="col-md-12">
        <h5>Indicators:</h5>
        <p>There are {{ passed.length }} available indicators. Please select from the list.</p>
        <input type="text" class="form-control eco" id="searchBar_series" placeholder="Search...">

        <div class="select_deselect" style="display: flex; align-items: center;">
            <input type="checkbox" class="form-check-input" id="select_all">
            <label for="select_all"> Select All</label>
            <a id="clear_selection" href="#" style="margin-left: auto;">clear selection</a>
            </div>
        
            <ul style="max-height:300px; width:100%; padding-left: 10px; padding-top: 10px; overflow-y:auto;">
                {% for each in passed.data %}
                <li> 
                    <input id="{{each['name']}}" type="checkbox" name="selection" value="{{ each['id'] }}">
                    <label for="{{each['name']}}" onmouseover="description({{ each['sourceNote']}});" 
                    onmouseout="$('.description').prop('hidden', true);">
                        <p><strong>{{each['name']}}</strong></p>
                    </label>
                </li>
                {% endfor %}
            </ul>
    </div>

    <div class="display_selected" id="topics">
        <div class="rowd d-flex">
            <p class="col-sm-1">Selected:</p>
            <ul class="col-sm-11 ms-3">
                
            </ul>
        </div>
    </div>
    <div class="rowd d-flex align-items-center">
        <button type="submit" class="col-sm-1 btn btn-success" onclick="$('.btn, .error_note').prop('hidden',true); $('.spinner').prop('hidden',false);">submit</button>
    </div>

    <div class="text-center spinner" hidden=""  style="margin-top: 10px;">
        <div class="spinner-border" role="status"></div>
        <div>gathering series for the indicator(s)...</div>
      </div>

    <div class="card description" hidden="">
        <div class="container">  
          <p></p>
        </div>
      </div>
</form>



{% endblock %}